interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cdn.gagempa.net/skip/events/ga2019nsodfc/felt_reports_10km_filtered.geojson
  response:
    body:
      string: '{"features": [{"geometry": {"coordinates": [[[115.834439, -32.080925],
        [115.835581, -31.990726], [115.941421, -31.991654], [115.940383, -32.081856],
        [115.834439, -32.080925]]], "type": "Polygon"}, "id": "390000 6450000 50 H",
        "properties": {"center": {"coordinates": [115.887956, -32.036301], "type":
        "Point"}, "intensity": 2.6, "intensityFine": 2.6423, "location": "390000 6450000
        50 H", "nresp": 7}, "type": "Feature"}, {"geometry": {"coordinates": [[[117.096035,
        -20.709494], [117.095978, -20.619134], [117.191956, -20.619054], [117.19207,
        -20.709413], [117.096035, -20.709494]]], "type": "Polygon"}, "id": "510000
        7710000 50 K", "properties": {"center": {"coordinates": [117.14401, -20.66428],
        "type": "Point"}, "intensity": 4.0, "intensityFine": 4.0159, "location": "510000
        7710000 50 K", "nresp": 38}, "type": "Feature"}, {"geometry": {"coordinates":
[...]
[...]
